# Tranformaciones ETL

Importamos las librerias

In [6]:
import pandas as pd
import numpy as np

Cargamos el csv

In [7]:
df=pd.read_csv(r"C:\Users\WINDOW 10\Desktop\Labs\Datasets\clean_movies_dataset.csv")

In [8]:
#verifico que cargo correctamente
df.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,...,genre_names,production_companies_ids,production_companies_names,country,release_month,return,collection_id,collection_name,collection_poster,collection_backdrop
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,English,Released,...,"['Animation', 'Comedy', 'Family']",[3],['Pixar Animation Studios'],United States of America,10,12.451801,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,English,Released,...,"['Adventure', 'Fantasy', 'Family']","[559, 2550, 10201]","['TriStar Pictures', 'Teitler Film', 'Intersco...",United States of America,12,4.043035,NaN,NaN,NaN,NaN
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,English,Released,...,"['Romance', 'Comedy']","[6194, 19464]","['Warner Bros.', 'Lancaster Gate']",United States of America,12,0.000000,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,English,Released,...,"['Comedy', 'Drama', 'Romance']",[306],['Twentieth Century Fox Film Corporation'],United States of America,12,5.090760,NaN,NaN,NaN,NaN
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,English,Released,...,['Comedy'],"[5842, 9195]","['Sandollar Productions', 'Touchstone Pictures']",United States of America,2,0.000000,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

In [10]:
#Elimino las columnas que no se utilizara
df.drop(columns=['video','imdb_id','adult','original_title','vote_count','poster_path','homepage'], inplace=True)

KeyError: "['video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path', 'homepage'] not found in axis"

In [ ]:
#Los valores nulos de los campos revenue, budget deben ser rellenados por el nÃºmero 0
df['revenue']=df['revenue'].fillna(0)
df['budget']=df['budget'].fillna(0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   belongs_to_collection       4488 non-null   object
 1   budget                      45376 non-null  object
 2   id                          45376 non-null  object
 3   original_language           45365 non-null  object
 4   overview                    44435 non-null  object
 5   popularity                  45376 non-null  object
 6   release_date                45376 non-null  datetime64[ns]
 7   revenue                     45376 non-null  float64
 8   runtime                     45130 non-null  float64
 9   spoken_languages            41582 non-null  object
 10  status                      45296 non-null  object
 11  tagline                     20398 non-null  object
 12  title                       45376 non-null  object
 13  vote_average                45376 non-null  float64
 14  release_year                45376 non-null  int64
 15  genre_ids                   45376 non-null  object
 16  genre_names                 45376 non-null  object
 17  production_companies_ids    45376 non-null  object
 18  production_companies_names  45376 non-null  object
 19  country                     39160 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(15)
memory usage: 7.3+ MB

In [ ]:
#convertimos los datos de revenue y budget a float
df['revenue'] = df['revenue'].astype(float)
df['budget'] = df['budget'].astype(float)

In [ ]:
#crear la columna return para calcular la ganacia
df['return'] = df.apply(lambda row: 0 if row['budget'] == 0 else row['revenue']/row['budget'], axis=1)

In [ ]:
df=df.dropna(subset=['release_date'])

De haber fechas, deberÃ¡n tener el formato AAAA-mm-dd

In [ ]:
df['release_date']=pd.to_datetime(df['release_date'],format='%Y-%m-%d',errors='coerce')

In [ ]:
df['release_date'].isna().sum()

3

In [ ]:
df[df['release_date'].isna()]

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average
19730,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...",1997-08-20,104.0,Released,NaN,False,6.0,NaT,0.0,NaN,NaN,NaN,NaN,NaN,NaN
29503,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",2012-09-29,68.0,Released,NaN,False,7.0,NaT,0.0,NaN,NaN,NaN,NaN,NaN,NaN
35587,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",2014-01-01,82.0,Released,Beware Of Frost Bites,False,4.3,NaT,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Dropeamos los valores nulos
df=df.dropna(subset=['release_date'])

Creamos la columna release_year donde se extraera el aÃ±o de la fecha de estreno.

In [ ]:
df['release_year']=df['release_date'].dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
df['release_year'] = pd.DatetimeIndex(df['release_date']).year
df['release_year'].head(10)

0    1995
1    1995
2    1995
3    1995
4    1995
5    1995
6    1995
7    1995
8    1995
9    1995
Name: release_year, dtype: int64

In [ ]:
#Verificamos nuestro DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  object
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   45376 non-null  object
 8   production_countries   45376 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  release_year           45376 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(13)
memory usage: 6.6+ MB

Algunos campos, como belongs_to_collection, production_companies Y genres estÃ¡n anidados

In [ ]:
#Importamos JSON
import json

In [ ]:
def new_name(x):
    try:
        return json.loads(x.replace("'", "\""))
    except (json.JSONDecodeError, AttributeError):
        return {}

df["belongs_to_collection"] = df["belongs_to_collection"].apply(new_name)
df["collection_id"] = df["belongs_to_collection"].apply(lambda x: x["id"] if isinstance(x, dict) and "id" in x else None)
df["collection_name"] = df["belongs_to_collection"].apply(lambda x: x["name"] if isinstance(x, dict) and "name" in x else None)
df["collection_poster"] = df["belongs_to_collection"].apply(lambda x: x["poster_path"] if isinstance(x, dict) and "poster_path" in x else None)
df["collection_backdrop"] = df["belongs_to_collection"].apply(lambda x: x["backdrop_path"] if isinstance(x, dict) and "backdrop_path" in x else None)
df.drop(['belongs_to_collection'],axis=1,inplace=True)

In [ ]:
# Creamos la funcion 
def new_name(json_string):
    try:
        return json.loads(json_string.replace("'", "\""))
    except:
        return {}

In [ ]:
# Aplicar la funciÃ³n a la columna "genres"
df["genres"] = df["genres"].apply(new_name)
df["genre_ids"] = df["genres"].apply(lambda x: [d.get("id") for d in x])
df["genre_names"] = df["genres"].apply(lambda x: [d.get("name") for d in x])
df["genre_names"].head(10)

0           [Animation, Comedy, Family]
1          [Adventure, Fantasy, Family]
2                     [Romance, Comedy]
3              [Comedy, Drama, Romance]
4                              [Comedy]
5      [Action, Crime, Drama, Thriller]
6                     [Comedy, Romance]
7    [Action, Adventure, Drama, Family]
8         [Action, Adventure, Thriller]
9         [Adventure, Action, Thriller]
Name: genre_names, dtype: object

Creamos la misma Funcion para belongs_to_collection, production_companies

In [ ]:
def new_name(json_string):
    try:
        return json.loads(json_string.replace("'", "\""))
    except:
        return {}

In [ ]:
df["production_companies"] = df["production_companies"].apply(new_name)
df["production_companies_ids"] = df["production_companies"].apply(lambda x: [d.get("id") for d in x])
df["production_companies_names"] = df["production_companies"].apply(lambda x: [d.get("name") for d in x])

0                                         [3]
1                          [559, 2550, 10201]
2                               [6194, 19464]
3                                       [306]
4                                [5842, 9195]
5                            [508, 675, 6194]
6    [4, 258, 932, 5842, 14941, 55873, 58079]
7                                         [2]
8                          [33, 21437, 23770]
9                                  [60, 7576]
Name: production_companies_ids, dtype: object

In [ ]:
# Aplicamos la funcion a 'production_countries'
df["country"] = df["production_countries"].apply(lambda x: new_name(x))
df["country"] = df["country"].apply(lambda x: x[0]["name"] if isinstance(x, list) and len(x) > 0 else None)

In [ ]:
#Aplicamos la funcion a Spoken Lenguages
df["spoken_languages"] = df["spoken_languages"].apply(lambda x: new_name(x))
df["spoken_languages"] = df["spoken_languages"].apply(lambda x: x[0]["name"] if isinstance(x, list) and len(x) > 0 else None)

0     English
1     English
2     English
3     English
4     English
5     English
6    FranÃ§ais
7     English
8     English
9     English
Name: spoken_languages, dtype: object

In [ ]:
#Borramos los NUll de las siguientes columnas

df.drop(['genres','production_companies','production_countries'],axis=1,inplace=True)

In [ ]:
#Los valores nulos del campo release date deben eliminarse.
df.dropna(subset=['release_date'],inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   belongs_to_collection       4488 non-null   object
 1   budget                      45376 non-null  object
 2   id                          45376 non-null  object
 3   original_language           45365 non-null  object
 4   overview                    44435 non-null  object
 5   popularity                  45376 non-null  object
 6   release_date                45376 non-null  datetime64[ns]
 7   revenue                     45376 non-null  float64
 8   runtime                     45130 non-null  float64
 9   spoken_languages            41582 non-null  object
 10  status                      45296 non-null  object
 11  tagline                     20398 non-null  object
 12  title                       45376 non-null  object
 13  vote_average                45376 non-null  float64
 14  release_year                45376 non-null  int64
 15  genre_ids                   45376 non-null  object
 16  genre_names                 45376 non-null  object
 17  production_companies_ids    45376 non-null  object
 18  production_companies_names  45376 non-null  object
 19  country                     39160 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(15)
memory usage: 7.3+ MB

In [ ]:
#Creamos la columna release_month
df['release_month'] = pd.DatetimeIndex(df['release_date']).month
df['release_month'].head(10)

0    10
1    12
2    12
3    12
4     2
5    12
6    12
7    12
8    12
9    11
Name: release_month, dtype: int64

In [ ]:
#convertir la columna release_date a datetime
df['release_date'] = pd.to_datetime(df['release_date'])

In [ ]:
#Pasamos el Release_year a str
df['release_year'] = df['release_year'].astype(str)

In [ ]:
#Guardamos el csv
df.to_csv('movies_dataset_ETL.csv',index=False)